{% extends "AppFinance/padre.html" %}


{% load static %}


{% block titulo%}

Listado de Ingresos

{% endblock %}

{% block descripcion %}

{% for ingreso in object_list %}

<p>Descripcion: {{ingreso.descripcion}}</p>
<p>Importe: {{ingreso.importe}}</p>

<a style="color:Black" href="{% url 'IngresosDetalle' ingreso.id %}"> Ver Ingreso </a>
<a style="color:Black" href="{% url 'IngresosEditar' ingreso.id %}"> Editar Ingreso </a>
<a style="color:Black" href="{% url 'IngresosEliminar' ingreso.id %}"> Eliminar Ingreso </a>

{%endfor%}

<br>
<a style="color:Black" href="{% url 'IngresosCrear' %}">  Crear Ingreso </a>

{% endblock %}